{% extends "base.html" %}
{% block content %}

<h2>Edit Student</h2>

<form method="POST">
    <input type="text" name="name" class="form-control mb-2" value="{{ student.name }}" required>
    <input type="email" name="email" class="form-control mb-2" value="{{ student.email }}" required>
    <input type="text" name="course" class="form-control mb-2" value="{{ student.course }}" required>
    <input type="number" name="marks" class="form-control mb-2" value="{{ student.marks }}" required>
    <button class="btn btn-primary">Update</button>
</form>

{% endblock %}